{% extends 'base.html' %}

{% block title%}{{post.title}}{% endblock %}

{% block contents %} 

<div class="card" style="width: 18rem;">
	<div class="card-body">
	  	<h3 class="card-title">{{post.title}}</h5>
		<p>
			{{post.content}}
		</p>
		<p>By {{user.first_name}} {{user.last_name}}</p>
		<form action="/posts/{{post.id}}/edit">
			<button class="btn btn-small btn-primary">Edit</button>
		</form>
		<form action="/posts/{{post.id}}/delete" method="POST">
			<button class="btn btn-danger btn-small">Delete</button>
		</form>
		</div>
	</div>
</div>

{% endblock %}